@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root {
	--primaryColor: #f09d51;
	--mainWhite: #fff;
	--mainBlack: #000;
	--mainGrey: #ececec;
	--headAndFoot: #17202A ;
	--mainSpacing: 0.1rem;
	--mainTransition: all 0.3s linear;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: var(--mainWhite);
	font-family: 'Poppins', sans-serif;
}
.container{
	width: 100%;
}
.projects-container{
	color: black;
	background-color: #ECF0F1;
}
.container::after{
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color:black;
	opacity: 0.8;
	z-index: -1;
}

.center{
	text-align: center;
}

.navbar {
	position: sticky;
	top: 0;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	background: var(--headAndFoot);
	z-index: 1;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.navbar a{
	color: var(--mainWhite);
	text-decoration: none;
	margin-right: 2em;
	font-size: 1.2em;
}
.navbar a:hover{
	font-size: 1.3em;
	color: #FBFCFC;
}
.bg{
	height: 38em;
	width: 100%;
	position: fixed;
	z-index: -1;
}

.flex-display{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3em;
}

.flex-display .quoting{
	width: 30%;
	display: inline-block;
	font-size: 1.8rem;
}
.quoting{
	display: inline-block;
	text-align: center;
	width: 96%;
	margin: 0 auto;
	color: #FDFEFE;
	font-size: 1.5rem;	
	margin: 1em;
}
.quoting cite{
	font-size: 1.2rem;
}
.quote{
	font-family: 'Dancing Script', cursive;
}
.intro{
	display: flex;
	justify-content: space-between;
	background-color: #1B4F72;
	opacity: 0.8;
	color: var(--mainWhite);
	padding: 1em;
	width: 70%;
	margin: 0 auto;
}

.portion li{
	padding-left: 1.5em;
	list-style-type: none;
}
.portion h1{
	font-size: 1.6rem;
}
.jp img{
	width: 22em;
	height: 22em;
	border-radius: 50%;
}
.jp{
	text-align: center;
	color:var(--mainWhite);
}

.schools{
	display:flex;
	color: var(--mainBlack);
}
.left-schools{
	background-color: #FBFCFC;
	border-top-right-radius: 30em;
	width:50%;
	padding: 1em;
}
.right-schools{
	background-color: #FBFCFC;
	border-top-left-radius: 30em;
	width: 50%;
	padding: 1em 10em;
}

.education .quoting, .recent-blogs .quoting, .featured-works{
	background-color: #FBFCFC;
	color: var(--mainBlack);
	margin: 0;
	padding: 1em;
	width: 100%;
}
.recent-blogs{
	background-color:#FBFCFC;
	color: var(--mainBlack);
	padding-top: 5em;
}

.blog-summary {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-column-gap: 1.5rem;
	grid-row-gap: 2rem;
	padding: 2em 0;
	}
.blog{
	background-color: #F0F3F4;
	padding: 1em;
	border-radius: 15px;
	box-shadow: 0 2px 10px #2E4053;
}

.works{
	width: 100vw;
	margin: 0 auto;
	max-width: 1170px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-column-gap: 1.5rem;
	grid-row-gap: 2rem;
}

.img-container {
	position: relative;
	overflow: hidden;
}
.img-container img{
	width: 300px;
	height: 200px;
}
.img-container:hover .description {
	transform: translateX(0);
}
.work h2 {
	text-transform: capitalize;
	font-size: 1.2rem;
	margin-top: 1rem;
	letter-spacing: var(--mainSpacing);
	text-align: center;
}

.work h3{
	margin-top: 0.7rem;
	letter-spacing: var(--mainSpacing);
	color: var(--primaryColor);
	text-align: center;
	text-decoration: none;
}

.description{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left:0; 
	background-color:#5DADE2;
	transition: var(--mainTransition);
	transform: translateX(-101%);
	padding: 6% 0 0 6%;
}
article{
	margin-bottom: 3em;
}
.works-intro{
	text-align: center;
	margin: 1rem 0 3rem 0;
}
.link{
	text-decoration: none;
}
.works a{
	text-decoration:none;
	font-size: 1rem;
}


































.last{
	display: flex;
	justify-content: space-between;
	background-color: var(--headAndFoot);
	padding: 20px;
	color: var(--mainWhite)
}
.last a{
	padding-right: 8px;
}

.face{
	color: #3b5999;
}
.twi{
	color: #55acee;
}
.ig{
	color: #e4405f;
}
.you{
	color: #cd201f;
}.plus{
	color: #dd4b39;
}